matplotlib
scikit-learn
pytest
httpx
openai
requests
ipykernel 
ipywidgets>=8.1
jupyterlab>=4
scipy
scikit-learn
python-dotenv
langchain-core==1.4.0
langchain==1.3.1
spacy==3.8.14
langchain-openai==1.2.1
langgraph==1.2.0
pyspellchecker==0.9.0
pandas==3.0.3
pyarrow==24.0.0
seaborn==0.13.2